In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd

'/Users/MartinJohnsen/Documents/Martin Johnsen/MMC/3. Semester/Advanced Business Analytics'

In [3]:
df_reviews = pd.read_csv("/Users/MartinJohnsen/Documents/Martin Johnsen/MMC/3. Semester/Advanced Business Analytics/Project/data/olist_order_reviews_dataset.csv" ,sep=',')
df_orders = pd.read_csv("/Users/MartinJohnsen/Documents/Martin Johnsen/MMC/3. Semester/Advanced Business Analytics/Project/data/olist_orders_dataset.csv" ,sep=',')
df_items = pd.read_csv("/Users/MartinJohnsen/Documents/Martin Johnsen/MMC/3. Semester/Advanced Business Analytics/Project/data/olist_order_items_dataset.csv" ,sep=',')
df_products = pd.read_csv("/Users/MartinJohnsen/Documents/Martin Johnsen/MMC/3. Semester/Advanced Business Analytics/Project/data/olist_products_dataset.csv" ,sep=',')
#df_customer = pd.read_csv("/Users/MartinJohnsen/Documents/Martin Johnsen/MMC/3. Semester/Advanced Business Analytics/Project/data/olist_customers_dataset.csv" ,sep=',')

In [54]:
#df_orders.head()

In [55]:
#df_reviews.head()

In [71]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [57]:
#df_items.head()

In [8]:
#df_customer.head()

In [9]:
df_items.describe(include="O")

,order_id,product_id,seller_id,shipping_limit_date
count,112650,112650,112650,112650
unique,98666,32951,3095,93318
top,8272b63d03f5f79c56e9e4120aec44ef,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23
freq,21,527,2033,21

In [10]:
df_orders.describe(include="O")

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,6ec1c5688688bee3df9dd2202ac41a7e,7b748f0922eb2c10ee0f9f637e7125f6,delivered,2018-02-19 15:37:47,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 19:36:48,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [11]:
df_reviews.describe(include="O")

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
count,100000,100000,11715,41753,100000,100000
unique,99173,99441,4600,36921,637,99010
top,1fb4ddc969e6bea80e38deec00393a6f,df56136b8031ecd28e200bb18e6ddb2e,Recomendo,Muito bom,2017-12-19 00:00:00,2017-06-15 23:21:05
freq,3,3,426,230,466,4

In [58]:
df_reviews[df_reviews['order_id']=='df56136b8031ecd28e200bb18e6ddb2e']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
2970,c444278834184f72b1484dfe47de7f97,df56136b8031ecd28e200bb18e6ddb2e,5,NaN,NaN,2017-02-08 00:00:00,2017-02-14 13:58:48
14084,72a1098d5b410ae50fbc0509d26daeb9,df56136b8031ecd28e200bb18e6ddb2e,5,NaN,NaN,2017-02-07 00:00:00,2017-02-10 10:46:09
63225,44f3e54834d23c5570c1d010824d4d59,df56136b8031ecd28e200bb18e6ddb2e,5,NaN,NaN,2017-02-09 00:00:00,2017-02-09 09:07:28

In [59]:
df_reviews[df_reviews['review_id']=='1fb4ddc969e6bea80e38deec00393a6f']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
22916,1fb4ddc969e6bea80e38deec00393a6f,d6dde74bdeb424af6b660214881b4845,5,NaN,NaN,2017-08-11 00:00:00,2017-08-12 14:35:35
47571,1fb4ddc969e6bea80e38deec00393a6f,afed4265a8b956d840bc032e54dfccd1,5,NaN,NaN,2017-08-11 00:00:00,2017-08-12 14:35:35
47720,1fb4ddc969e6bea80e38deec00393a6f,3c1098cb17277b62cfc709c7a9b500f5,5,NaN,NaN,2017-08-11 00:00:00,2017-08-12 14:35:35

In [14]:
df_orders[df_orders['order_id']=='8e17072ec97ce29f0e1f111e598b0c85']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
63380,8e17072ec97ce29f0e1f111e598b0c85,9e29cde4ddb42f9330bcf3c9bc23d177,delivered,2018-03-31 15:08:21,2018-03-31 15:50:11,2018-04-03 15:58:24,2018-04-06 17:38:34,2018-05-04 00:00:00

In [15]:
len(df_reviews.drop_duplicates())

100000

In [16]:
len(df_orders)

99441

In [17]:
len(df_reviews)

100000

In [18]:
len(df_items)

112650

In [19]:
len(df_products)

32951

In [20]:
df_reviews.order_id.nunique()

99441

In [21]:
scores = pd.DataFrame(df_reviews.groupby('order_id')['review_score'].count().sort_values())

In [22]:
scores.head()

                                  review_score
order_id
00010242fe8c5a6d1ba2dd792cb16214             1
ab010289ce552581dd007c7276d4e276             1
ab001f825765f185062e85eaebc010b5             1
aaff8afa47c8426e414a6d908a97713c             1
aaff827d79b2aca52ee986179a052077             1

In [23]:
more_scores = scores[scores.review_score>1]

In [24]:
order_numbers = list(more_scores.index)

In [69]:
#Sorting out the orders to only including the ones with 1 score:
df_reviews_unique = df_reviews[~df_reviews['order_id'].isin(order_numbers)]

In [70]:
#As we now see, every order ID is now only included once. We loose some orders due to the error, however we make 
# sure that the orders are unique as described in the documentation
df_reviews_unique.describe(include="O")

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
count,98886,98886,11679,41354,98886,98886
unique,98532,98886,4594,36724,637,98371
top,e44840754f12fad2b8646712121b349a,1f52e650514a6e3621994f4a48e264fa,Recomendo,Muito bom,2017-12-19 00:00:00,2017-06-15 23:21:05
freq,3,1,424,229,459,4

In [62]:
df_reviews[df_reviews.order_id == order_numbers[-4]]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
2970,c444278834184f72b1484dfe47de7f97,df56136b8031ecd28e200bb18e6ddb2e,5,NaN,NaN,2017-02-08 00:00:00,2017-02-14 13:58:48
14084,72a1098d5b410ae50fbc0509d26daeb9,df56136b8031ecd28e200bb18e6ddb2e,5,NaN,NaN,2017-02-07 00:00:00,2017-02-10 10:46:09
63225,44f3e54834d23c5570c1d010824d4d59,df56136b8031ecd28e200bb18e6ddb2e,5,NaN,NaN,2017-02-09 00:00:00,2017-02-09 09:07:28

In [63]:
df[df['review_id']=='4d0e6dd087008d1f992d25ef6e1f619f']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
65856,97f95535ada31d6fa853230e815ee4e3,a0d04a491f25030236e94355ba1e7e47,delivered,2018-06-01 13:39:44,2018-06-01 13:55:09,2018-06-04 14:29:00,2018-06-11 21:33:15,2018-07-12 00:00:00,4d0e6dd087008d1f992d25ef6e1f619f,4,NaN,NaN,2018-06-12 00:00:00,2018-06-17 23:48:04
82115,cd0343141ac675cd40fab2c7fd2e99cc,0a84514b054a38a558ad0874beebf6af,delivered,2018-06-01 13:39:44,2018-06-01 13:52:38,2018-06-04 14:29:00,2018-06-11 21:28:48,2018-07-12 00:00:00,4d0e6dd087008d1f992d25ef6e1f619f,4,NaN,NaN,2018-06-12 00:00:00,2018-06-17 23:48:04
82915,d415e95816c2f3a2a34e06cd519157cc,f0ab4acc7e4a8236d84d6f74bad11b0e,delivered,2018-06-01 13:39:44,2018-06-01 13:52:44,2018-06-04 14:29:00,2018-06-11 19:53:41,2018-07-12 00:00:00,4d0e6dd087008d1f992d25ef6e1f619f,4,NaN,NaN,2018-06-12 00:00:00,2018-06-17 23:48:04

In [27]:
df_orders[df_orders.order_id=="c88b1d1b157a9999ce368f218a407141"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
37179,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00

In [ ]:
#type(df_reviews.order_id[0])

In [53]:
#Merging reviews on orders
df = df_orders.merge(df_reviews, on="order_id", how= "inner", left_on= None, right_on = None)
len(df)

100000

In [28]:
#Merging reviews on orders
df = df_orders.merge(df_reviews, on="order_id", how= "inner")
len(df)

100000

In [29]:
df[df.order_id=="c88b1d1b157a9999ce368f218a407141"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
37370,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00,ffb8cff872a625632ac983eb1f88843c,3,NaN,NaN,2017-07-22 00:00:00,2017-07-26 13:41:07
37371,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00,202b5f44d09cd3cfc0d6bd12f01b044c,5,NaN,NaN,2017-07-22 00:00:00,2017-07-26 13:40:22
37372,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00,fb96ea2ef8cce1c888f4d45c8e22b793,5,NaN,NaN,2017-07-21 00:00:00,2017-07-26 13:45:15

In [30]:
print("products: ", len(df_products), "items: ", len(df_items))

products:  32951 items:  112650

In [31]:
#Merging product categories on items
items = df_products.merge(df_items, on= "product_id", how="left")

In [32]:
items.describe(include="O")

,product_id,product_category_name,order_id,seller_id,shipping_limit_date
count,112650,111047,112650,112650,112650
unique,32951,73,98666,3095,93318
top,aca2eb7d00ea1a7b8ebd4e68314663af,cama_mesa_banho,8272b63d03f5f79c56e9e4120aec44ef,6560211a19b47992c3666cc44a7e94c0,2018-03-01 02:50:48
freq,527,11115,21,2033,21

In [33]:
items.columns[2:-6]

Index(['product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm'],
      dtype='object')

In [34]:
#Dropping columns that does not matter
cols = items.columns[2:-6]
items = items.drop(cols,axis=1)

In [35]:
#Merging the items onto the orders:
df = df.merge(items, on = "order_id", how="left")

In [36]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,review_comment_message,review_creation_date,review_answer_timestamp,product_id,product_category_name,order_item_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4,...,"No testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,87285b34884572647811a353c7ac498a,utilidades_domesticas,1.0,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,8d5266042046a06655c8db133d120ba5,4,...,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50,595fac2a385ac33a80bd5114aec74eb8,perfumaria,1.0,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,e73b67b67587f7644d5bd1a52deb1b01,5,...,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58,aa4383b373c6aca5d8797843e5594415,automotivo,1.0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,359d03e676b3c069f62cadba8dd3f6e8,5,...,O produto foi exatamente o que eu esperava e e...,2017-12-03 00:00:00,2017-12-05 19:21:58,d0b61bfb1de832b15ba9d266ca96e5b0,pet_shop,1.0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,e50934924e227544ba8246aeb3770dd4,5,...,NaN,2018-02-17 00:00:00,2018-02-18 13:02:51,65266b2da20d04dbe00c5c2d3bb7859e,papelaria,1.0,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

In [45]:
df[df.order_id=="c88b1d1b157a9999ce368f218a407141"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,review_comment_message,review_creation_date,review_answer_timestamp,product_id,product_category_name,order_item_id,seller_id,shipping_limit_date,price,freight_value
42589,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00,ffb8cff872a625632ac983eb1f88843c,3,...,NaN,2017-07-22 00:00:00,2017-07-26 13:41:07,b1acb7e8152c90c9619897753a75c973,beleza_saude,1.0,cc419e0650a3c5ba77189a1882b7556a,2017-07-26 22:50:12,34.99,7.78
42590,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00,202b5f44d09cd3cfc0d6bd12f01b044c,5,...,NaN,2017-07-22 00:00:00,2017-07-26 13:40:22,b1acb7e8152c90c9619897753a75c973,beleza_saude,1.0,cc419e0650a3c5ba77189a1882b7556a,2017-07-26 22:50:12,34.99,7.78
42591,c88b1d1b157a9999ce368f218a407141,ae0fb7b01c548c4fd30f19f55453ec4a,delivered,2017-07-17 22:44:23,2017-07-18 22:50:12,2017-07-20 15:27:41,2017-07-21 17:06:30,2017-08-01 00:00:00,fb96ea2ef8cce1c888f4d45c8e22b793,5,...,NaN,2017-07-21 00:00:00,2017-07-26 13:45:15,b1acb7e8152c90c9619897753a75c973,beleza_saude,1.0,cc419e0650a3c5ba77189a1882b7556a,2017-07-26 22:50:12,34.99,7.78

In [47]:
df.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   162
order_delivered_carrier_date       1980
order_delivered_customer_date      3253
order_estimated_delivery_date         0
review_id                             0
review_score                          0
review_comment_title             100386
review_comment_message            64965
review_creation_date                  0
review_answer_timestamp               0
product_id                          778
product_category_name              2390
order_item_id                       778
seller_id                           778
shipping_limit_date                 778
price                               778
freight_value                       778
dtype: int64

In [38]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'product_id', 'product_category_name',
       'order_item_id', 'seller_id', 'shipping_limit_date', 'price',
       'freight_value'],
      dtype='object')

In [39]:
dfs = df[["order_id", "customer_id", "review_score", "product_id", "product_category_name", "order_item_id"]]

In [40]:
dfs.head()

,order_id,customer_id,review_score,product_id,product_category_name,order_item_id
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,4,87285b34884572647811a353c7ac498a,utilidades_domesticas,1.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,4,595fac2a385ac33a80bd5114aec74eb8,perfumaria,1.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,5,aa4383b373c6aca5d8797843e5594415,automotivo,1.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,5,d0b61bfb1de832b15ba9d266ca96e5b0,pet_shop,1.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,5,65266b2da20d04dbe00c5c2d3bb7859e,papelaria,1.0

In [41]:
dfs.describe(include="O")

,order_id,customer_id,product_id,product_category_name
count,114100,114100,113322,111710
unique,99441,99441,32951,73
top,5a3b1c29a49756e75f1ef513383c0c12,be1c4e52bb71e0c54b11a26b8e8d59f2,aca2eb7d00ea1a7b8ebd4e68314663af,cama_mesa_banho
freq,22,22,527,11272

In [42]:
len(dfs)

114100

In [46]:
dfs.isna().sum()

order_id                    0
customer_id                 0
review_score                0
product_id                778
product_category_name    2390
order_item_id             778
dtype: int64

### Collaborative filtering 

Collaborative recommenders rely on data generated by users as they interact with items. 

Benefits 

- it is always self-generating  users create the data for you naturally as they interact with items. This can be a valuable data source, especially in cases where high-quality item features are not available or difficult to obtain. 
- Another benefit of collaborative filters is that it helps users discover new items that are outside the subspace defined by their historical profile.

Drawbacks 

- the well-known cold start problem. 
- It is also difficult for collaborative filters to accurately recommend novel or niche items because these items typically do not have enough user-item interaction data.

**Item-item** (http://www.diva-portal.org/smash/get/diva2:1111865/FULLTEXT01.pdf):

Item based collaborative filtering was introduced 1998 by Amazon[6]. Unlike user based collaborative filtering, item based filtering looks at the similarity between different items, and does this by taking note of how many users that bought item X also bought item Y. If the correlation is high enough, a similarity can be presumed to exist between the two items, and they can be assumed to be similar to one another. Item Y will from there on be recommended to users who bought item X and vice versa.

In item-item collaborative filtering, we provide a recommendation based on other items similar to ours. The **benefits** of it, compared to user-user collaborative filtering, is that we usually need much fewer similarity computations (in most cases, there are much more users in systems than items). The most **common pitfall** - the system can provide very obvious recommendations.

**User-user** (http://www.diva-portal.org/smash/get/diva2:1111865/FULLTEXT01.pdf):

The report is focusing on the nearest neighbour approach for recommendations, which looks at the users rating patterns and finds the nearest neighbours, i.e users with ratings similar to yours. The algorithm then proceeds to give you recommendations based on the ratings of these neighbours.

In user-user collaborative filtering, we provide a recommendation based on tastes of other users similar to us. **The problem** with that algorithm is that we need a lot of information about other people to provide correct recommendations, but the main benefits are effectiveness and ability to provide new, unexpected, and, yet, good recommendations.

### Content recommenders

Content recommenders rely on item features to make recommendations. 

Benefits

- Content filters tend to be more robust against popularity bias and the cold start problem. 
- They can easily recommend new or novel items based on niche tastes. 

Drawbacks

- However, in an item-to-item recommender, content filters can only recommend items with features similar to the original item. 
- This limits the scope of recommendations, and can also result in surfacing items with low ratings.

##### In this project

Given our dataset and the features we have, we are not able to create a content-based filtering algorithm, as the algorithm would need more information. We would essentially need to know some specific attributes about every product, e.g. with movies we know whether they include themes such as: Baseball, Economics, etc. 
Furthermore, companies such as Amazon are using collaborative item-item based recommender systems (https://www.quora.com/What-algorithm-s-does-Amazon-use-in-their-recommendation-system), and this is also the one that makes most sense in our case, since we do not have a lot of information of about each individual (we do not have many purchases from each person).